{{ '//cdn.rawgit.com/PostCo/postco-shopify/master/v1/shopify.min.js' | script_tag }}
{{ 'cdn.rawgit.com/PostCo/postco-shopify/master/v1/shopify.min.css' | stylesheet_tag }}

<section id="postco-plugin" data-pc-src="https://postco.com.my/plugins/v1/shopify" data-pc-api="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0LCJzaWduZWRfYXQiOiIyMDE2LTA4LTA5IDE3OjA4OjIzICswODAwIn0.IA1-M1texBHVb1pIVZvWjL36dRSFi0qiTt7XyPzJ-kU" data-pc-env="dev"></section>
