{{ '//cdn.rawgit.com/PostCo/postco-shopify/v1.1/v1/shopify.min.js' | script_tag }}
{{ '//cdn.rawgit.com/PostCo/postco-shopify/v1.1/v1/shopify.min.css' | stylesheet_tag }}

<section id="postco-plugin" data-pc-src="https://postco.com.my/plugins/v1/shopify" data-pc-api="{AUTH_TOKEN}" data-pc-env="dev"></section>
